<app-topbar></app-topbar>
<mat-card fxLayout="column" fxLayoutAlign="space-evenly stretch" *ngIf="!success" id="mat-card-box">

  <form [formGroup]="form">

    <!--assert(typeof req.body.license !== "undefined");
      -assert(typeof req.body.fineAmount !== "undefined");
      -assert(typeof req.body.vehicleNo !== "undefined");
      -assert(typeof req.body.policeOfficer !== "undefined");
      -assert(typeof req.body.dueDate !== "undefined");
      -assert(typeof req.body.coordinates !== "undefined");-->

      <mat-form-field>
        <input matInput placeholder="License ID/Number" formControlName="license" class="full-width">
      </mat-form-field><br>
      <mat-form-field>
        <input matInput placeholder="Fine Amount (in Rs.)" formControlName="fineAmount" class="full-width">
      </mat-form-field><br>
      <mat-form-field>
        <input matInput placeholder="Vehicle No." formControlName="vehicleNo" class="full-width">
      </mat-form-field><br>
      <mat-form-field>
        <input matInput placeholder="Police Officer's ID" formControlName="policeOfficer" class="full-width">
      </mat-form-field><br>

      <mat-form-field>
        <input matInput placeholder="Offence Description" formControlName="offence" class="full-width">
      </mat-form-field><br>

      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="dueDate" class="full-width">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field><br>
      <!--<mat-form-field>
        -  <input matInput placeholder="Due Date (for payment)" formControlName="dueDate">
        -</mat-form-field><br>-->

      <mat-form-field>
        <input matInput placeholder="Latitude" formControlName="latitude" [(value)]="coord.long" class="full-width">
      </mat-form-field><br>

      <mat-form-field>
        <input matInput placeholder="Longitude" formControlName="longitude" [(value)]="coord.lat" class="full-width">
      </mat-form-field><br>

  <button (click)="onSubmit()" type="submit" mat-raised-button color="primary" >Submit</button>
  </form>	
  <pre> {{ form.value | json }}</pre>
</mat-card>
