<app-topbar></app-topbar>
<mat-card fxLayout="column" fxLayoutAlign="space-evenly stretch" *ngIf="!success" id="mat-card-box">

  <form [formGroup]="form">
      <mat-form-field>
        <input matInput placeholder="Description" formControlName="description" class="full-width">
      </mat-form-field><br>
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="date" class="full-width">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field><br>
      <mat-form-field>
        <input matInput placeholder="Latitude" formControlName="latitude" [(value)]="coord.long" class="full-width">
      </mat-form-field><br>

      <mat-form-field>
        <input matInput placeholder="Longitude" formControlName="longitude" [(value)]="coord.lat" class="full-width">
      </mat-form-field><br>

  </form>	
  <button (click)="onSubmit()" type="submit" mat-raised-button color="primary" >Submit</button>
  <pre> {{ form.value | json }}</pre>
</mat-card>
