  <form [formGroup]="form" *ngIf="!spinnerStatus">

    <mat-form-field>
      <mat-label>Latitude:</mat-label>
      <input matInput placeholder="Latitude" class="full-width" formControlName="latitude">
    </mat-form-field><br>

    <mat-form-field>
      <mat-label>Longitude:</mat-label>
      <input matInput placeholder="Longitude" class="full-width" formControlName="longitude">
    </mat-form-field><br>


    <mat-form-field>
      <mat-label>Description:</mat-label>
      <input matInput placeholder="Longitude" class="full-width" formControlName="description">
    </mat-form-field><br>

      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Date of Accident" formControlName="dueDate" class="full-width">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field><br>

      <pre>
      {{ form.value | json }}
      </pre>
    <!--<mat-spinner *ngIf="spinnerStatus !== 0" diameter="32" ></mat-spinner>-->
    <p *ngIf="status === 1">
    You've entered wrong email or password.
    </p>
    <p *ngIf="status === 2">
    Success!    
    </p>
    <p *ngIf="status === 3 || status === 4 || status === 5">
    Some error ocurred on server. 
    </p>
    <button (click)="onSubmit()" type="submit" mat-raised-button color="primary" class="fix-width" >Submit</button>
  </form>	

  <p *ngIf="spinnerStatus">Done!</p>
