<app-topbar></app-topbar>
<mat-card fxLayout="column" fxLayoutAlign="space-evenly stretch" *ngIf="!success" id="mat-card-box">

  <form [formGroup]="form">

    <!--assert(typeof req.body.license !== "undefined");
      -assert(typeof req.body.fineAmount !== "undefined");
      -assert(typeof req.body.vehicleNo !== "undefined");
      -assert(typeof req.body.policeOfficer !== "undefined");
      -assert(typeof req.body.dueDate !== "undefined");
      -assert(typeof req.body.coordinates !== "undefined");-->

      <mat-form-field>
        <input matInput placeholder="Name" formControlName="Name" class="full-width">
      </mat-form-field><br>
      <mat-form-field>
        <input matInput placeholder="Address" formControlName="Address" class="full-width">
      </mat-form-field><br>
      <mat-form-field>
        <input matInput placeholder="Ph. Number" formControlName="PhoneNumber" class="full-width">
      </mat-form-field><br>
      <mat-form-field>
        <input matInput placeholder="Email" formControlName="Email" class="full-width">
      </mat-form-field><br>
      <mat-form-field>
        <input matInput placeholder="Vehicle No." formControlName="VehicleNo" class="full-width">
      </mat-form-field><br>
      <mat-form-field>
        <mat-select formControlName="licenseType" placeholder="License Type" class="full-width">
          <mat-option *ngFor="let a of Ltypes" [value]="a.value">
            {{a.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      

      <!--<mat-form-field>
        -  <input matInput placeholder="Due Date (for payment)" formControlName="dueDate">
        -</mat-form-field><br>-->


  </form>	
  <button (click)="onSubmit()" type="submit" mat-raised-button color="primary" >Submit</button>
  <pre> {{ form.value | json }}</pre>

</mat-card>
