<app-topbar></app-topbar>
<mat-card fxLayout="column" fxLayoutAlign="space-evenly stretch" *ngIf="!success" id="mat-card-box">
  <form [formGroup]="form">

    <mat-form-field>
      <input matInput placeholder="Email Address" formControlName="email" class="full-width">
      <!--<mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        -  Please enter a valid email address
        -</mat-error>-->
      <!--<mat-error *ngIf="emailFormControl.hasError('required')">
        -  Email is <strong>required</strong>
        -</mat-error>-->
    </mat-form-field><br>

    <mat-form-field>
      <input matInput placeholder="Password" formControlName="password" type="password" class="full-width">
      <!--<mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        -  Please enter a valid email address
        -</mat-error>-->
      <!--<mat-error *ngIf="emailFormControl.hasError('required')">
        -  Email is <strong>required</strong>
        -</mat-error>-->
    </mat-form-field><br>
  </form>	
  <br>
  <mat-spinner *ngIf="spinnerStatus !== 0" diameter="32" ></mat-spinner>
  <button (click)="onSubmit()" type="submit" mat-raised-button color="primary" >Submit</button>
  <pre>
  {{ form.value | json }}<br>
  {{ form.valid | json }}<br>
  </pre>
</mat-card>
